doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(type="text/javascript", src="javascripts/vendors/phaser.js")

    script(type="text/javascript", src="javascripts/Enemy.js")
    script(type="text/javascript", src="javascripts/Spaceship.js")

    script(type="text/javascript", src="javascripts/Game.js")